<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>FetchKeyword</servlet-name>
        <servlet-class>Keyword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchTheme</servlet-name>
        <servlet-class>Theme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DefineTheme</servlet-name>
        <servlet-class>Theme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitLearningObject</servlet-name>
        <servlet-class>LearningObject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>Auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadObject</servlet-name>
        <servlet-class>LearningObject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote</servlet-name>
        <servlet-class>Vote</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DefineTheme</servlet-name>
        <url-pattern>/define_theme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchTheme</servlet-name>
        <url-pattern>/fetch_theme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchKeyword</servlet-name>
        <url-pattern>/fetch_keyword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitLearningObject</servlet-name>
        <url-pattern>/submit_object</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadObject</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote</servlet-name>
        <url-pattern>/vote</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
