.theme_filter {
	list-style-type: none;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
}

.theme_filter li {
	padding-bottom: 5px;
	text-decoration: none;
	cursor: pointer;
        float: left;
        padding-right: 5px;
}

.theme_filter li:hover {
	text-decoration: underline;
}

.theme_filter :first-child {
    margin-left: 0px;
}
